.navigation_bar {
  width: 12%;
  position: fixed;
  right: 5%;
  top: 8%;
  /* background-color: aquamarine; */
}

.navigation_bar .pint_mock_icon_container {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: 2vh;
  transition-duration: 0.3s;
}

#add_pin {
  outline-style: outset;
  outline-color: #ff040080;
  outline-width: 1.5vh;
}

#add_pin:hover {
  outline-style: solid;
  outline-color: #ffffffe7;
  transform: scale(1.3);
}

.navigation_bar .pint_mock_icon_container:hover {
  transform: scale(1.2);
  background-color: #767676;
}

[tooltip]::before {
  position: absolute;
  display: inline-block;
  width: 20vh;
  padding: 10px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

  content: attr(tooltip);
  opacity: 0;
}

[tooltip]:hover::before {
  transition-delay: 0.8s;
  opacity: 1;
  animation: hideAnimation 0s ease-in 2s;
  animation-fill-mode: forwards;
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.pin_container {
  margin: 0;
  padding: 0;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 10px;
  justify-content: center;
  position: absolute;
  top: 10%;
  /* background-color: purple; */
}

.card {
  margin: 15px 10px;
  padding: 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.card_small {
  grid-row-end: span 26;
}

.card_medium {
  grid-row-end: span 33;
}

.card_large {
  grid-row-end: span 45;
}

.header_container {
  z-index: 30;
  position: fixed;
  height: 8%;
  top: 0;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
  padding: 0.938rem;
  /* background: white; */
}

@media (max-width: 1024px) {
  .navigation_bar {
    z-index: 200;
    width: 15%;
    position: fixed;
    padding-top: 30%;
  }

  .navigation_bar .pint_mock_icon_container {
    transform: scale(0.7);
    position: relative;
    transition-duration: 0.3s;
  }

  .pin_container {
    width: 90%;
  }
}
