.add_pin_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.add_pin_container {
  padding: 35px;
  width: 880px;
  height: 674px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  display: flex;

  background-color: white;
}

.side {
  padding: 20px;
  width: 50%;
  height: 100%;
}

#left_side {
  /* background-color: blue; */
}

#right_side {
  /* background-color: orange; */
}

.pint_mock_icon_container {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: #f0f0f0;
  cursor: pointer;
}

.pint_mock_icon {
  width: 50%;
}

.section1 {
  width: 100%;
  height: 8%;

  /* background-color: purple; */
}

.section2 {
  padding: 0px 10px;
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: aquamarine; */
}

.section3 {
  width: 100%;
  height: 12%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: firebrick; */
}

#left_side .section1 .pint_mock_icon_container {
  width: 40px;
  height: 40px;

  background-color: rgba(239, 239, 239, 0);
  transition-duration: 0.3s;
}

#left_side .section1 .pint_mock_icon_container:hover {
  background-color: rgba(239, 239, 239, 1);
}

#left_side .section2 #upload_img_label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#left_side .section2 #upload_img_label input {
  width: 0;
  height: 0;
  opacity: 0;
}

#left_side .section2 #upload_img_label .upload_img_container {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 8px;

  background-color: #efefef;
}

#left_side .section2 #upload_img_label .upload_img_container #dotted_border {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px dashed #dadada;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#left_side .section2 .pint_mock_icon_container {
  background-color: #767676;
}

.modals_pin {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: none;
}

.pin_image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .pin_image img {
  opacity: 0;
}

.pin_max_width {
  max-width: 100%;
}

.pin_max_height {
  max-height: 100%;
} */

#left_side .section3 .save_from_site {
  width: 340px;
  height: 48px;
  border-radius: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  background-color: #efefef;
  cursor: pointer;
}

#right_side .section1 {
  display: flex;
  justify-content: flex-end;
}

#right_side .section1 .select_size {
  width: 236px;
  height: 40px;

  display: flex;
}

#right_side .section1 .select_size select {
  width: 70%;
  height: 100%;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;

  font-size: 16px;

  background-color: #efefef;
}

#right_side .section1 .select_size .save_pin {
  width: 30%;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 700;

  color: white;
  background-color: #e60023;
  cursor: pointer;
}

#right_side .section2 {
  height: 60%;
}

#right_side .section2 .new_pin_input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #c6c6c6;
  outline: none;

  font-size: 16px;

  background-color: transparent;
}

/* #right_side .section2 .new_pin_input #pin_description {
  overflow-y: auto;
  background-color: red;
  border: red;
} */

#right_side .section3 {
  height: 32%;
}

@media (max-width: 1024px) {
  .add_pin_container {
    width: 90%;
    height: 80%;
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .section2 {
    padding: 0%;
  }

  #left_side {
    padding: 0%;
  }

  #left_side .section3 .save_from_site {
    width: 0;
    height: 0;
    display: none;
  }

  #right_side {
    display: flex;
    flex-wrap: wrap;
  }

  .tags-input {
    width: 90%;
  }
}
