.open_pin_modal {
  width: 100%;
  height: 100%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.open_pin_container {
  padding: 35px;
  width: 880px;
  height: 674px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  display: flex;

  background-color: white;
}

.side {
  padding: 20px;
  width: 50%;
  height: 100%;
}

#left_side_open {
  /* background-color: blue; */
}

#right_side_open {
  /* background-color: orange; */
  display: grid;
  justify-items: end;
}

.options_icon_container {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: #f0f0f0;
  cursor: pointer;
}

.options_icon {
  width: 50%;
}

.options_icon_container:hover {
  transform: scale(1.1);
  background-color: #767676;
}

/* .section1 {
  width: 100%;
  height: 8%;

  background-color: purple;
} */

.open_section {
  padding: 0px 10px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* background-color: aquamarine; */
}

#left_side_open .open_section3 .save_from_site {
  width: 340px;
  height: 48px;
  border-radius: 22px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  background-color: #efefef;
  opacity: 0.3;
  cursor: pointer;
}

.open_modals_pin {
  width: 400px;
  height: 600px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: block;
}

.open_pin_image {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-in;
}

.open_pin_max_width {
  /* gets changed to =1 after checking the size */
  opacity: 0;
  max-width: 100%;
}

.open_pin_max_height {
  opacity: 0;
  max-height: 100%;
}

#right_side_open .open_section .new_pin_input {
  width: 100%;
  /* height: 100%; */
  padding-right: 20px;
  text-align: justify;
  height: 300px;
  overflow-y: auto;
  border: none;
  /* border-bottom: 2px solid #c6c6c6; */
  outline: none;
  margin-bottom: 20px;

  font-size: 16px;

  background-color: transparent;
}

.new_pin_input::-webkit-scrollbar {
  padding-left: 2%;
  width: 5px;
}

.new_pin_input::-webkit-scrollbar-track {
  padding-left: 2%;
  box-shadow: inset 0 0 5px rgb(232, 232, 232);
  border-radius: 5px;
}

.new_pin_input::-webkit-scrollbar-thumb {
  padding-left: 2%;
  height: 30%;
  background: #e60023b4;
  border-radius: 5px;
}

#right_side_open .open_section .open_pin_title {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #c6c6c6;
  outline: none;

  font-size: 32px;

  background-color: transparent;
}

@media (max-width: 1024px) {
  .open_pin_container {
    width: 90%;
    height: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .open_section {
    display: inherit;
    padding: 0%;
  }

  .side {
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
    width: 100%;
  }

  .open_modals_pin {
    max-height: 100%;
    width: 100%;
  }

  .open_pin_max_width {
    border-radius: 16px;
  }

  .open_pin_max_height {
    border-radius: 16px;
  }

  .right_side_open {
    padding: 15px;
  }

  #right_side_open {
    padding: 10%;
    display: inherit;
    height: 90%;
  }
  .tags-input {
    width: 90%;
  }

  .options_icon_container {
    position: fixed;
    transform: translate(1250%, 1500%);
  }

  .options_icon {
    position: inherit;
  }

  .options_icon_container:hover {
    position: inherit;
  }
}
