/* .card {
  width: 252px;
  height: 512px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;

  background-color: green;
} */

.pin_title {
  width: 0;
  height: 0;
  opacity: 0;
}

.pin_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.pin_modal:hover {
  opacity: 1;
}

.pin_modal .modal_head {
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pin_modal .modal_foot {
  width: 100%;
  height: 15%;
  margin-bottom: 2%;
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pint_mock_icon_container {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: #f0f0f0;
  cursor: pointer;
}

.pint_mock_icon {
  width: 50%;
}

.pin_modal .modal_head .save_card {
  margin-right: 20px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: 700;

  color: white;
  background-color: #e60023;
  cursor: pointer;
}

/* .pin_modal .modal_head .delete_card {
  margin-right: 20px;
  margin-top: 130px;
  width: 20px;
  height: 20px;
  border-radius: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10px;
  font-weight: 700;

  color: black;
  background-color: white;
  cursor: pointer;
} */

a {
  text-decoration: none;
}

.pin_modal .modal_foot .destination {
  width: 160px;
  height: 32px;
  border-radius: 18px;

  display: flex;
  align-items: center;

  font-size: 11px;
  font-weight: 700;

  background-color: #f0f0f0;
  cursor: pointer;
}

.pin_modal .modal_foot .destination span {
  overflow: hidden;
  white-space: nowrap;
}

.pin_image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pin_image img {
  opacity: 0;
  transition-duration: 0.5s;
}

.pin_max_width {
  max-width: 100%;
}

.pin_max_height {
  max-height: 100%;
}
