.tags-container {
  /* box-sizing: border-box; */
  /* height: 100vh; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* font-family: 'Overpass', sans-serif; */
}
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  /* border: 1px solid #d6d8da;
  border-radius: 6px; */
}
.tags-input:focus-within {
  border: 1px solid #aeaeae;
  border-radius: 6px;
}
.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.tags-input input:focus {
  outline: transparent;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}
.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 16px;
  margin: 0 8px 8px 0;
  background: #e60023;
}
.tag .tag-title {
  color: white;
}
.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #e60023;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
